/local.properties
build
.gradle
.DS_Store
*.iml

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml

# Sensitive or high-churn files:
.idea/misc.xml
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries
.idea/modules.xml

# Mongo Explorer plugin:
.idea/mongoSettings.xml


